<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlkuzmuk.freedomcry">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreedomCry">
        <activity
            android:name=".activities.bottomNavActivities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.bottomNavActivities.EventManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.bottomNavActivities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.registration.UsernameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.bottomNavActivities.EventActivity"
            android:exported="true" />
        <activity
            android:name=".activities.registration.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.registration.RegisterActivity"
            android:exported="true" />
    </application>

</manifest>